[Unit]
Description=Sally Docker Compose dev stack
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/sally
ExecStart=/usr/bin/docker compose --env-file .env -f infra/dev-server/templates/docker-compose.sally-dev.yml up -d --build --remove-orphans
ExecStop=/usr/bin/docker compose --env-file .env -f infra/dev-server/templates/docker-compose.sally-dev.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
